/*
  ---------------- React Elune UI Css ---------------

  -------------- All rights reserved for ------------

  --- Davi Duarte Gomes - Designer / UI Developer ---
*/

/* 

  Summary

  1. General CSS
  2. Sidebar
    2.1 Navitem
    2.2 Collapse
  3. Header
  4. PageHeader
  5. Breadcrumbs

*/

html {
  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #dedede;
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Rubik', sans-serif;
}

div,
ul,
ol {
  margin: 0;
  padding: 0;
}

.application {
  display: flex;
  background-color: #f2f2f2;
  min-height: 100vh;
  min-width: 100vw;
}

.eln-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eln-page {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* --------- 2. Sidebar --------- */

.eln-sidebar {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  max-width: 260px;
  width: 260px;
  flex: 1 260px;
  background-color: white;
  transition: all 0.25s ease-in-out;
  z-index: 100;
}

.eln-sidebar .eln-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-height: 30px;
  min-height: 30px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3),
    0 2px 3px 0px rgba(0, 0, 0, 0.24), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
}

.eln-sidebar .eln-sidebar-header h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.eln-sidebar .eln-sidebar-container {
  margin-right: 1px solid #ccc;
}

/* --------- 2.1 Navitem --------- */

.eln-navitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  opacity: 0.7;
  color: #555;
  user-select: none;
}

.eln-navitem:hover {
  cursor: pointer;
  opacity: 1;
}

.eln-navitem.active {
  opacity: 1;
}

.eln-navitem .eln-navitem-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 15px;
  box-sizing: border-box;
  transition: all 0.12s ease-in-out;
}

.eln-navitem .eln-navitem-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eln-navitem .eln-navitem-content i {
  font-size: 16px;
}

.eln-navitem .eln-navitem-content p {
  font-size: 16px;
  font-weight: 300;
  margin-left: 15px;
  transition: all 0.12s linear;
}

.eln-navitem .eln-navitem-container .eln-navitem-collapse {
  transition: all 0.12s linear;
}

.eln-navitem .eln-navitem-container .eln-navitem-collapse i {
  font-size: 10px;
  transition: transform 0.4s linear;
}

.eln-navitem > .eln-navitem-children {
  height: 0;
  display: none;
  width: 100%;
}

.eln-navitem.open > .eln-navitem-children {
  height: auto;
  display: block;
}

.eln-navitem .eln-navitem .eln-navitem-content {
  padding-left: 20px;
  width: 240px;
}

.eln-navitem.open > .eln-navitem-container .eln-navitem-collapse i {
  transform: rotate(90deg);
}

/* --------- 2.2 Collapse ------- */

.eln-sidebar.collapsed {
  min-width: 80px;
  max-width: 80px;
  width: 80px;
}

.eln-sidebar.collapsed .eln-navitem .eln-navitem-container {
  padding: 0 30px;
}

.eln-sidebar.collapsed .eln-navitem .eln-navitem-content p {
  opacity: 0;
}

.eln-sidebar.collapsed
  .eln-navitem
  .eln-navitem-container
  .eln-navitem-collapse {
  opacity: 0;
}

/* --------- 3 Header --------- */

.eln-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  max-height: 70px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3),
    0 2px 3px 0px rgba(0, 0, 0, 0.24), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
  z-index: 50;
}

.eln-header .eln-header-sidebar-menu button {
  outline: 0;
  border: 0;
  background-color: transparent;
  margin-left: 15px;
  cursor: pointer;
}

.eln-header .eln-header-sidebar-menu i {
  color: white;
  font-size: 26px;
}

.eln-header .eln-header-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.eln-header .eln-header-menu button {
  outline: 0;
  border: 0;
  background-color: transparent;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.eln-header .eln-header-menu button i {
  color: white;
  font-size: 20px;
}

.eln-header .eln-header-menu button .eln-notification {
  position: absolute;
  font-size: 12px;
  color: white;
  font-weight: bold;
  top: 0;
  right: 0;
  margin: 0;
  background-color: #d32f2f;
  padding: 2px;
  border-radius: 20%;
  transform: translate(25%, -50%);
}

.eln-header .eln-header-menu .eln-header-user {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.eln-header .eln-header-menu .eln-header-user img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.eln-header .eln-header-menu .eln-header-user p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

/* --------- 4, PageHeader -------- */

.eln-pageheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.18);
  background-color: white;
  border-radius: 5px;
  padding: 0 15px;
}

.eln-pageheader h2 {
  font-weight: bold;
  font-size: 24px;
}

/* --------- 5, Breadcrumbs -------- */

.eln-breadcrumb {
  display: flex;
  align-items: center;
  list-style: none;
}

.eln-breadcrumb li {
  font-size: 14px;
  color: #555;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.eln-breadcrumb i {
  font-size: 11px;
  color: #555;
}
