/*
  ---------------- React Elune UI Css ---------------

  --------------- Purple / Blue Theme ---------------

  -------------- All rights reserved for ------------

  --- Davi Duarte Gomes - Designer / UI Developer ---
*/

/* 

  Summary

  1. General CSS
  2. Sidebar
    2.1. NavItem
  3. Header

*/

body {
  background-color: #dedede;
}

/* --------- 2.1 Navitem --------- */

.eln-navitem-container:hover .eln-navitem-content i,
.eln-navitem-container:hover .eln-navitem-content p,
.eln-navitem-container:hover .eln-navitem-collapse i {
  color: white;
}

.eln-navitem.active > .eln-navitem-container {
  background-color: rgba(174, 22, 194, 0.45);
  border-right: 6px solid #b35bb7;
}

.eln-navitem.active > .eln-navitem-container .eln-navitem-content i,
.eln-navitem.active > .eln-navitem-container .eln-navitem-content p,
.eln-navitem.active > .eln-navitem-container .eln-navitem-collapse i {
  color: white;
}

/* --------- 3 Header --------- */

.eln-header {
  background-color: #5977ac;
}
