/*
  ---------------- React Elune UI Css ---------------

  --------------- Purple / Blue Theme ---------------

  -------------- All rights reserved for ------------

  --- Davi Duarte Gomes - Designer / UI Developer ---
*/

/* 

  Summary

  1. General CSS
  2. Sidebar
    2.1. NavItem
  3. Header

*/

body {
  background-color: #dedede;
}

/* --------- 2.1 Navitem --------- */

.eln-navitem-container:hover .eln-navitem-content i,
.eln-navitem-container:hover .eln-navitem-content p,
.eln-navitem-container:hover .eln-navitem-collapse i {
  color: white;
}

.eln-navitem.active > .eln-navitem-container {
  background-color: rgba(174, 22, 194, 0.45);
  border-right: 6px solid #b35bb7;
}

.eln-navitem.active > .eln-navitem-container .eln-navitem-content i,
.eln-navitem.active > .eln-navitem-container .eln-navitem-content p,
.eln-navitem.active > .eln-navitem-container .eln-navitem-collapse i {
  color: white;
}

/* --------- 3 Header --------- */

.eln-header {
  background-color: #5977ac;
}

/* -------- Card Theme ------- */

.eln-card.grd-primary-light {
  background-image: linear-gradient(135deg, #b35bb7, #db83d7);
}

.eln-card.grd-secondary-light {
  background-image: linear-gradient(135deg, #82a0cd, #a3c0e6);
}

.eln-card.grd-warning-light {
  background-image: linear-gradient(135deg, #f49f00, #f8be3e);
}

.eln-card.grd-danger-light {
  background-image: linear-gradient(135deg, #dd3127, #ea6d59);
}

.eln-card.grd-success-light {
  background-image: linear-gradient(135deg, #3dba58, #66dc74);
}
